
// Colors
$whiteColor: #ffffff;
$blackColor: #000000;
$blackColorAlt: #1B1A1C99;
$grayColor: #747578;
$grayColorAlt: #514E4E;
$orangeColor: #F1A021;
$orangeColorLight: #F1D3A4;
$orangeDarkColor: #604E14;
$footerColor: #1E2833;
$inputTextColor: #878787;
$inputBorderColor: #B4BEC8;

$fontDmSans: 'DM Sans', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontSourcePro: 'Source Sans Pro', sans-serif;

// Burger Menu
$burgerBreakpoint: $tablet;
$burgerColor: #131318;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: $fontInter;
$fontSecondary: '';


